@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@layer components{

    .icon{
        @apply relative flex justify-center items-center h-12 w-12 m-2 mb-2 shadow-lg mx-auto 
        bg-gray-700 text-white rounded-3xl hover:rounded-xl
        hover:bg-purple-500 transition-all duration-300 ease-linear
        ;
    }
  

    .icon-popup{
        @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-lg font-bold
        transition-all duration-200 scale-0 origin-left;
    }

    .iconActive{
        @apply relative flex justify-center items-center h-12 w-12 m-2 mb-2 shadow-lg mx-auto 
        bg-purple-500 text-white rounded-xl transition-all duration-300 ease-linear;
    }

    .pic{
        @apply relative flex justify-center items-center h-12 w-12 m-2 mb-2 shadow-lg mx-auto 
        bg-gray-700 text-white rounded-3xl hover:rounded-xl
        hover:bg-purple-500 transition-all duration-300 ease-linear
        ;
    }
    .languages{
        @apply flex rounded-2xl overflow-hidden bg-gray-900 transition justify-center;
    }
    .languages{
        height:150px;
        width:150px;
        transition:0.5s
    }
    
    .languages:hover{
        position:relatve;
        margin-top:-20px;
    }
    .languageIcon{
        @apply w-24 flex m-auto group-hover:scale-150;
        transition:0.5s;
    }
    
    .education{
        @apply rounded-2xl overflow-hidden bg-gray-900 ml-20 mr-20 text-white flex justify-center;
        width:800px;
        height:200px;
        transition:ease 0.5s;
    }
    /* .education:hover{
        @apply text-black bg-gray-700;
        
    } */

    .introButton{
        @apply bg-gray-300 hover:bg-gray-800 text-gray-800  w-32  
        text-center font-bold py-2 px-4 rounded inline-flex items-center mx-10 flex justify-center active:scale-90 hover:text-white;
        transition:0.1s;
    }
    .projectIcon{
        @apply w-10 mx-3 bg-white rounded-3xl hover:scale-150;
        transition:0.5s;
    }
    
}